header{background-color: #5A8C83;
        width:100%;
        height: 14vh;
        justify-content: center; 
        text-align: center;
    color: white}
section{background-color:#B9D1CF ;
        width: 55%;
        }
aside{width: 45%;
    background-color: #88AFAA;}



    main{display: flex;
    flex-wrap: wrap;}

img{height:36vh}

table,tr,td{border-collapse: collapse;
    border: 1px solid lightgreen}

    footer{display: flex;
    align-items: flex-end;
        justify-content: flex-end;
    width:100%;
    height: 4em;
    color: white;
    background-color: #5B8F8A;
    }

section>ol>li{font-weight: 900;}