*
{
    font-family: "Verdana";
    color: #2F2F2F;
}
body
{
    display: flex;
    flex-wrap: wrap;
}
header
{
    width:100%;
    display:flex;

}
.header
{
    background-color: #DCDCDC;
    width: 15%;
    height: 80px;
    text-align: center;
}
.header:nth-of-type(1)
{
    width: 55%;
}
.left
{
    background-color: #808080;
    width:30%;
    height:450px;

}
.right
{
    background-color: #808080;
    width:70%;
    height:450px;
}
footer
{
    background-color: #DCDCDC;
    width: 100%;

}
h5
{
    color: #808080;
    border: 1px solid #808080;
    margin: 7px;
    padding: 10px;
    font-size: 80%;

}

input[type=number]
{
    color: grey;
}
