body{margin:0 auto;}
main{
    display: flex;
flex-wrap: wrap;}

header{display: flex;
    flex-wrap:nowrap ;
    justify-content: space-around;
    width:100%;
    background-color: rgba(43, 164, 194, 0.842);
    text-transform: uppercase;
    font-size: 60%;
    height:10vh;
}
header>img{height:100%}
section{
    width:80%;
    height:80vh;
    background-color: rgba(26, 146, 182, 0.692);
}
button{width:8em;
    height: 4em;}
form{display: flex;
    flex-direction: column;}
aside{width:20%;
    background-color: rgba(26, 146, 182, 0.692);
   }
footer{height:10vh;
    width:100%;
    background-color: rgba(0, 119, 255, 0.658);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}